
/* Color style*/

.yellow { 
	background-color: #ffeb3b;
	color: #333333;
}

.btn.yellow:active, .btn.yellow:focus {
  background-color: #fbc02d;
}
.btn.yellow:hover {
  background-color: #fbb814;
  color: #333;
}

/* end color style*/

// botton

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 5px;
  min-width: 250px;

  border: none;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s; 

}

.header-block__result {
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
}
.header-block__result:hover {
  cursor: pointer;
}

// end botton

/* start block HEADER */

.header-block {
  background-image: url( ../img/se_a.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

// header-block // header-block // header-block //

.header-block.one_variant {
  background-image: url( ../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

.header-block.two_variant {
  background-image: url( ../img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

.header-block.thee_variant {
  background-image: url( ../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

.header-block._4 {
  background-image: url( ../img/4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

.header-block._5 {
  background-image: url( ../img/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

.header-block._6 {
  background-image: url( ../img/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}


.header-block._7 {
  background-image: url( ../img/7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

.header-block._8 {
  background-image: url( ../img/8.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

.header-block._9 {
  background-image: url( ../img/9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

.header-block._10 {
  background-image: url( ../img/10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}


.header-block._11 {
  background-image: url( ../img/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
  border-bottom: 10px solid #fbb814;
}

// header-block // header-block // header-block //

.header-block__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 300px;
  box-sizing: border-box;
}

.header-block__logo {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.header-block__logo-img {
  -webkit-filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.9));
}


.header-block__form {
  align-self: flex-end;
}



/* end block HEADER */

// header media 

@media (max-width: 767px) { 
  .header-block__form {
      align-self: center;
  }
}


// end  header media