.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; }

.services-slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ddd; }

.slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 240px;
  padding: 10px;
  min-height: 75px;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  color: #333;
  border: 0;
  border-bottom: 4px solid #fff;
  border-radius: 0;
  background: 0 0; }

.services-slider-control
.slider-button.active {
  color: #424242;
  border: 0;
  border-bottom: 4px solid #fbb814;
  outline: 0; }

.slider-button:hover {
  color: #fbb814;
  cursor: pointer; }

.services-slide-item {
  display: none;
  width: 100%;
  min-height: 285px; }

.services-slide-item.active {
  display: block; }

.services-slider-wrapper {
  min-height: 400px; }
